html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#push,
#footer {
    height: 40px;
}
#footer {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding-top: 20px;
}

.logo {
    float: left; margin-right: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.logo:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

td div.details {
    overflow: hidden;
    height: 0;
}
td.control {
    cursor: pointer;
}
td {
    line-height: 30px !important;
}
td .details {
    line-height: 20px;
}

@media (max-width: 768px)  {
    body {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .page-header {
        padding-left: 10px;
    }

    .page-header h1 {
        font-size: 18px;
    }

    .dataTables_length, .dataTables_filter {
        padding-left: 10px;
    }
    .dataTables_filter {
        float: left;
    }

    #links thead tr th:nth-child(4),
    #links thead tr th:nth-child(5) {
        display: none;
    }

    #links tbody tr td:nth-child(4),
    #links tbody tr td:nth-child(5) {
        display: none;
    }

    #footer {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}